:root {
  font-size: 10px;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #191929;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.text-area {
  position: absolute;
  bottom: 0;
  padding: 4rem 4rem 8rem 4rem;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #aaffaa;
  transition: color .75s linear;
}

p, select {
  font-size: 3rem;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

select {
  border: none;
  padding: 0 1rem 0 0;
  background: none;
  color: #aaffaa;
  transition: color .75s linear;
}

.chart-area {
  padding: 4rem;
    display: flex;
  justify-content: center;
  align-items: center;
}

.chart-area__container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  transform-origin: center center;
}

.chart-area__labels {
  width: 100%;
  height: 100%;
  position: absolute;
}

polygon.selection {
  transition: all 1.3s ease-out;
}


.corner-point {
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  transform-origin: center center;
}

.chart-label {
  font-size: 1.5rem;
  opacity: 0.7;
  transform-origin: center center;
  position: absolute;
}

.chart-label--number {
  font-size: 1.1rem;
}

.chart-label--number[data-index="0"] {
  transform: translate(250px, 305px);
}

.chart-label--number[data-index="1"] {
  transform: translate(250px, 335px);
}

.chart-label--number[data-index="2"] {
  transform: translate(250px, 364px);
}

.chart-label--number[data-index="3"] {
  transform: translate(250px, 393px);
}

.chart-label--number[data-index="4"] {
  transform: translate(250px, 422px);
}


.chart-label--name[data-index="0"] {
  transform: translate(80px, 30px);
}

.chart-label--name[data-index="1"] {
  transform: translate(390px, 30px);
}

.chart-label--name[data-index="2"] {
  transform: translate(450px, 310px);
}

.chart-label--name[data-index="3"] {
  transform: translate(237px, 450px);
}

.chart-label--name[data-index="4"] {
  transform: translate(10px, 310px);
}


@media (max-width: 500px) {
  :root {
    font-size: 8px;
  }
  
  .text-area {
    padding: 2rem;
  }

  .chart-area__container { 
    transform: scale(0.7);
  }
}